<!DOCTYPE html>
<html>
<head><title>CRUD App</title></head>
<body>
<h1>My Items</h1>
<form action="/add" method="POST">
  <input name="name" required>
  <button type="submit">Add</button>
</form>
<ul>
  <% items.forEach(item => { %>
    <li><%= item.name %></li>
  <% }) %>
</ul>
</body>
</html>

